<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/fullpage.min.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="js/fullpage.min.js"></script>
    <title>hama_test</title>
  </head>
  <body>